<div>
<div class="row" >
<div></div>
  <div class="col-2"><p> email:{{email}}</p>
    <p>FirstName:{{firstName}}</p>
    <p>LastName:{{lastname}}</p>
  </div>
<div class="col-6">
  <h3 style="text-align: center;color: seagreen;">Profil</h3>
</div>
<div class="col-2"><a class="btn btn-primary" href="/login"> Logout</a></div>

</div>
</div>
