<footer class="main-footer blue-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 mb-5 iq-pr-80">
        <div class="footer-logo">
          <a href="#">
            <img class="img-fluid" src="assets/images/logo-dark.png" alt="Vizion1">
          </a>
        </div>
        <div class="textwidget">
          <p class="mb-0">It is a long established fact that a reader will be distracted by the readable content.</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 mb-5">
        <h4 class="footer-title">Menu</h4>
        <ul>
          <li><a href="about-us.html" aria-current="page">About Us</a></li>
          <li><a href="technology.html">Technology</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="blog-details.html">Blog</a></li>
          <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6 mb-5">
        <h4 class="footer-title">About Us</h4>
        <ul>
          <li><a href="#" aria-current="page">About vizion</a></li>
          <li><a href="#">Roadmap</a></li>
          <li><a href="#">How it Work </a></li>
          <li><a href="team-details.html">Team</a></li>
          <li><a href="#">News</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
        <h4 class="footer-title">Contact Us</h4>
        <ul class="iq-contact">
          <li>
            <a href="tel:+0123456789"><i class="fas fa-phone"></i>+0123456789</a>
          </li>
          <li>
            <a href="mailto:support@vizion.com"><i class="fas fa-envelope"></i>mail@viziondummy.com</a>
          </li>
          <li></li>
        </ul>
        <ul class="social-links">
          <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <p class="copyright mb-0">Copyright 2019 vizion All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="right-side">
          <ul>
            <li class="d-inline"><a href="#" class="mr-2">Terms & Conditions</a> </li>
            <li class="d-inline"><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="scrolling-effect-footer bottam right default">
    <div data-bottom="transform:translatey(30px)" data-top="transform:translatey(0);"><img src="assets/images/effect/04.png" class="img-fluid" alt="#"></div>
  </div>
</footer>
<!-- Footer End -->
<!-- back-to-top -->
<div id="back-to-top">
  <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
</div>
