<app-menu></app-menu>
<section class="iq-breadcrumb">
  <div class="container">
     <div class="row">
        <div class="col-lg-12 col-md-12 mb-4 mb-lg-0">
           <h3 class="title">About Us</h3>
           <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                 <li class="breadcrumb-item active">About Us</li>
              </ol>
           </nav>
        </div>
     </div>
  </div>
</section>
<div class="main-content">
  <section class="iq-mission main-bg ">
     <div class="container">
        <div class="row">
           <div class="col-lg-12">
              <h3 class="text-white mb-4">At OpenAir, we are about our customers success!</h3>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-4">
              <p>O
              </p>
           </div>
           <div class="col-lg-4">
              <p>We truly live by the “Win-Win” strategy.  We are successful, but only if YOU are !  With 16+ years experience with all forms of communications from Microwave to Satellites, we will make sure to exceed your expectations. </p>
           </div>
           <div class="col-lg-4">
              <p>OpenAir Solutions, LLC was established in 2018 when we realized that what WE were looking for in a Service Provider.... well..... it simply wasn't available.  After working in all forms of communications for years, we realized that the only solution for any company
    was to conform to the providers wants and needs.  There wasn't a Provider, that conformed to it's customers wants and needs.. until NOW !</p>
           </div>
        </div>
     </div>
     <div class="scrolling-effect bottom right default">
        <div data-bottom="transform:translatey(30px)" data-top="transform:translatey(0);"><img src="images/effect/01.png" class="img-fluid" alt="#"></div>
     </div>
     <div class="scrolling-effect top left default">
        <div data-bottom="transform:translatey(30px)" data-top="transform:translatey(0);"><img src="images/effect/01.png" class="img-fluid" alt="#"></div>
     </div>
  </section>
  <section class="pt-0 pb-0 iq-better">
     <div class="container">
        <div class="row">
           <div class="col-lg-12">
              <div class="mission-content">
                 <div class="row no-gutters">
                    <div class="col-lg-7">
                       <div class="mission-info">
                          <h3 class=" mb-4">
                          We offer REAL solutions
                          </h3>
                          <p> We encourage our customers to be their own Project Managers.  We focus on providing you with your data and website, by helping you to integrate your devices into an Internet of Things.  Not by selling you our "Things" for you to integrate into your system.
                          </p>
                          <img class="img-fluid" src="images/about/04.png" alt="#">
                       </div>
                    </div>
                    <div class="col-lg-5">
                       <div class="img-box text-center">
                          <img class="img-fluid wow fadeInUp" src="images/about/02.jpg" alt="#">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
  <!-- Our Team Start -->
  <section class="iq-team overview-block-ptb">
     <div class="container">
        <div class="row">
           <div class="col-lg-12">
              <div class="section-title text-center">
                 <h3 class="title">We are excited to help our customers take their businesses to the next level !
       </h3>
                 <p class="mb-0"></p>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
              <div class="team-box">
                 <!-- <div class="team-images">
                    <img src="images/team/01.jpg" class="img-fluid mx-auto d-block" alt="#">
                 </div>

                 <div class="team-social">
                    <ul>
                       <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                       <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                       <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                       <li> <a href="#"> <i class="fab fa-google-plus-g"></i> </a> </li>
                    </ul>
                 </div>
              </div>
              <div class="team-box-info">
                <a href="team-details.html"> <h5 class="mt-3">Mark Hughes</h5>
</a>                      <p class="mb-0">Founder</p>
              </div>
           </div>
           <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
              <div class="team-box">
                 <div class="team-images">
                    <img src="images/team/02.jpg" class="img-fluid mx-auto d-block" alt="#">
                 </div>

                 <div class="team-social">
                    <ul>
                       <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                       <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                       <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                       <li> <a href="#"> <i class="fab fa-google-plus-g"></i> </a> </li>
                    </ul>
                 </div>
              </div>
              <div class="team-box-info">
                <a href="team-details.html"> <h5 class="mt-3">Javier Bardem</h5>
</a>                        <p class="mb-0">Senior AI Scientist</p>
              </div>
           </div>
           <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 mb-md-0">
              <div class="team-box">
                 <div class="team-images">
                    <img src="images/team/03.jpg" class="img-fluid mx-auto d-block" alt="#">
                 </div>

                 <div class="team-social">
                    <ul>
                       <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                       <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                       <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                       <li> <a href="#"> <i class="fab fa-google-plus-g"></i> </a> </li>
                    </ul>
                 </div>
              </div>
              <div class="team-box-info">
                <a href="team-details.html"> <h5 class="mt-3">Danielle Wyatt</h5></a>
                 <p class="mb-0">AI Research Engineer</p>
              </div>
           </div>
           <div class="col-lg-3 col-md-6">
              <div class="team-box">
                 <div class="team-images">
                    <img src="images/team/04.jpg" class="img-fluid mx-auto d-block" alt="#">
                 </div>

                 <div class="team-social">
                    <ul>
                       <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
                       <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
                       <li> <a href="#"> <i class="fab fa-instagram"></i> </a> </li>
                       <li> <a href="#"> <i class="fab fa-google-plus-g"></i> </a> </li>
                    </ul>
                 </div>
              </div>
              <div class="team-box-info">
                <a href="team-details.html"> <h5 class="mt-3">Joe Burns</h5>
</a>                    <p class="mb-0">Front-End Developer</p>
              -->
    </div>
           </div>
        </div>
     </div>
  </section>
  <!-- Our Team End -->
  <!-- Client Testimonial start -->
  <section class="iq-testimonial overview-block-pb">
     <div class="container">
        <div class="row">
           <div class="col-sm-12">
              <div class="section-title text-center">
                 <h3 class="title">People Says About Vzion</h3>
                 <p class="mb-0"></p>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-lg-12 col-md-12">
              <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
                 <div class="item">
                    <div class="iq-client">
                       <div class="client-img">
                          <img class="img-fluid rounded-circle" src="images/testimonial/01.jpg" alt="#">
                          <h5 class="mb-5">Peter Nevil</h5>
                       </div>
                       <div class="client-info">
                          <div class="iq-icon">
                             <i class="fas fa-quote-left"></i>
                          </div>
                          <p class="font-italic">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. T he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                       </div>
                    </div>
                 </div>
                 <div class="item">
                    <div class="iq-client">
                       <div class="client-img">
                          <img class="img-fluid rounded-circle" src="images/testimonial/01.jpg" alt="#">
                          <h5 class="mb-5">Peter Nevil</h5>
                       </div>
                       <div class="client-info">
                          <div class="iq-icon">
                             <i class="fas fa-quote-left"></i>
                          </div>
                          <p class="font-italic">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. T he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                       </div>
                    </div>
                 </div>
                 <div class="item">
                    <div class="iq-client">
                       <div class="client-img">
                          <img class="img-fluid rounded-circle" src="images/testimonial/01.jpg" alt="#">
                          <h5 class="mb-5">Peter Nevil</h5>
                       </div>
                       <div class="client-info">
                          <div class="iq-icon">
                             <i class="fas fa-quote-left"></i>
                          </div>
                          <p class="font-italic">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. T he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
  <!--Client Testimonial end -->
  <!-- Our Clients -->
  <div class="iq-clients light-green">
     <div class="container">
        <div class="row">
           <div class="col-lg-12 col-md-12">
              <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="false" data-items="5" data-items-laptop="4" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-margin="30">
                 <div class="item">
                    <div class="clients-box text-center">
                       <img class="img-fluid client-img" src="images/clients/01.png" alt="#">
                    </div>
                 </div>
                 <div class="item">
                    <div class="clients-box text-center">
                       <img class="img-fluid client-img" src="images/clients/02.png" alt="#">
                    </div>
                 </div>
                 <div class="item">
                    <div class="clients-box text-center">
                       <img class="img-fluid client-img" src="images/clients/03.png" alt="#">
                    </div>
                 </div>
                 <div class="item">
                    <div class="clients-box text-center">
                       <img class="img-fluid client-img" src="images/clients/04.png" alt="#">
                    </div>
                 </div>
                 <div class="item">
                    <div class="clients-box text-center">
                       <img class="img-fluid client-img" src="images/clients/05.png" alt="#">
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <!-- Our Clients End-->
</div>
<app-footer></app-footer>
