<div class="row">
  <div class="col-3"></div>
<div class="col-6">
  <h3 style="text-align: center;">Login</h3>
<form [formGroup]="registeruserForm" (ngSubmit)="login()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">login</button>
</form>
</div>
</div>
<h5 *ngIf="active=='0'" style="color: red;text-align: center;">please check your mail to activate your account</h5>
