<app-menu></app-menu>
<section class="iq-breadcrumb">
  <div class="container">
     <div class="row">
        <div class="col-lg-12 col-md-12 mb-4 mb-lg-0">
           <h3 class="title">Contact Us</h3>
           <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                 <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                 <li class="breadcrumb-item active">Contact Us</li>
              </ol>
           </nav>
        </div>
     </div>
  </div>
</section>
<!-- Breadcrumb End -->
<!-- Main-Content Start -->
<div class="main-content">
  <div class="our-map">
     <div class="container-fluid overflow-h p-0">
        <div class="row">
           <div class="col-lg-12">
              <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.840289118572!2d144.95373631550405!3d-37.81720974201396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1543402448828"  allowfullscreen=""></iframe>
           </div>
        </div>
     </div>
  </div>
  <section class="overview-block-pb">
     <div class="container">
        <div class="row">
           <div class="col-lg-7">
              <form  class="contact-us" id="contact" method="post">
                 <div class="section-title mb-0 text-left text-white">
                    <h3 class="title text-white mb-3">Contact Us</h3>
                    <p class="mb-5">Tempor orci eu lobortis elementum nibh tellus molestie nunc.</p>
                 </div>
                 <div class="row">
                    <div class="col-md-6">
                       <label>Your Name (required)<br>
                       <span class="form-control-wrap your-name">
                       <input type="text" name="name" Placeholder="Your Name" class="form-control text" aria-required="true" aria-invalid="false"></span>
                       </label>
                    </div>
                    <div class="col-md-6">
                       <label>Your Email (required)<br>
                       <span class="form-control-wrap your-email">
                       <input type="email" name="email" Placeholder="Email" class="form-control text email" aria-required="true" aria-invalid="false"></span>
                       </label>
                    </div>
                    <div class="col-xl-12">
                       <label>Subject<br>
                       <span class="form-control-wrap your-subject">
                       <input type="text" name="subject" Placeholder="Subject" class="form-control text" aria-invalid="false"></span>
                       </label>
                    </div>
                    <div class="col-xl-12">
                       <label>Your Message<br>
                       <span class="form-control-wrap your-message">
                       <textarea name="message" Placeholder="Message" class="form-control textarea" aria-invalid="false"></textarea></span>
                       </label>
                    </div>
                    <div class="col-xl-12">
                       <button id="submit" name="submit" type="submit" value="Send" class="button btn-green" >Send message</button>
                    </div>
                 </div>
              </form>
           </div>
           <div class="col-lg-5 col-md-12 col-sm-12">
              <div class="contact-info">
                 <h3 class="mb-4">Address</h3>
                 <div class="iq-contact-box media mb-4">
                    <div class="iq-icon">
                       <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="contact-box media-body">
                       <p>3916 LINKWOOD DRIVE<br>ALEDO  TX  76008</p>
                    </div>
                 </div>
                 <div class="iq-contact-box media mb-4">
                    <div class="iq-icon">
                       <i aria-hidden="true" class="fas fa-envelope"></i>
                    </div>
                    <div class="contact-box media-body">
                       <span>support@OpenAirIoT.com</span>
                    </div>
                 </div>
                 <div class="iq-contact-box media">
                    <div class="iq-icon">
                       <i aria-hidden="true" class="fas fa-phone"></i>
                    </div>
                    <div class="contact-box media-body">
                       <p class="mb-0"></p>
                       <p>+1 480 231 6867</p>
                    </div>
                 </div>
                 <ul class="social-links mt-5">
<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
<li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
</ul>
              </div>
           </div>
        </div>
     </div>
  </section>
</div>
<app-footer></app-footer>
