/*
Vizion-Al/ML-Digital Marketing Responsive HTML5 Template
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in
*/

/*****************
================================================
(  Media Queries  )
================================================
*******************/
@media (min-width:1200px) {
	.container { max-width: 1170px; }
}
@media only screen and (min-width:1890px) and (max-width:2529px) { }
@media(max-width:1600px) {
   
}
@media(max-width:1399px) {
  .iq-coming{height: 100%; padding: 100px 0;}
}
@media(max-width:1365px) {

}
@media(max-width:1299px) {

}
@media(max-width:1199px) {
	header .main-header { padding: 10px 50px 10px 50px; }
	header.menu-sticky .main-header { padding: 10px 50px 10px 50px; }

	header .navbar-light .navbar-nav .nav-item {margin-right: 10px;}
	.iq-better .mission-info {
    padding: 40px 30px;}
    .iq-mission {
    padding: 100px 0 350px;}
    .iq-better .mission-content {
    margin-top: -260px;}
    .iq-better .img-box {
    margin-top: -55px;}
    .blog .iq-blog-box .blog-title a h5 {
    font-size: 20px;}

}
@media(max-width:992px) {
	section { padding: 80px 0; }
	.overview-block-ptb { padding: 80px 0; }
    .overview-block-pt { padding: 80px 0 0 0; }
    .overview-block-pb { padding: 0 0 80px 0; }

    .section-title { margin-bottom: 60px; }
    header {padding: 10px 0;}
    header.menu-sticky .navbar-light .navbar-nav .nav-item a { color: #222222; }
	header .navbar-light .navbar-collapse { position: absolute; top: 51px; padding: 15px; width: 100%; background-color: #ffffff; box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }
	header .navbar-light .navbar-toggler { border-color: #ffffff; }
	header .navbar-light .navbar-nav .nav-item { padding: 0 0 10px; }
	header .navbar-light .navbar-nav .nav-link, header .navbar-light .navbar-nav .nav-link:focus { color: rgba(0, 0, 0, .9); }
	header .navbar-light .navbar-nav li.active .nav-link, header .navbar-light .navbar-nav li .nav-link:hover { color: #84bb42; background: transparent; }
	header.menu-sticky .navbar-light .navbar-nav li.active .nav-link, header.menu-sticky .navbar-light .navbar-nav li .nav-link:hover { color: #84bb42; background: transparent; }
	header.menu-sticky .navbar-light .navbar-nav .nav-link, header.menu-sticky .navbar-light .navbar-nav .nav-link:focus, header .navbar-light .navbar-nav .nav-item a { color: #222222; }

     
    .about-team {padding-top: 150px;}

    .iq-asked-img{margin-bottom: 0;}
	.iq-feature-box{padding: 100px;}
	.iq-rmt-100{margin-top: 100px;}
	.iq-work-box{margin-top: 0;}
	.iq-rmt-50{margin-top: 50px;}
	.iq-rmb-80{padding-bottom: 80px;}

	.iq-left {padding-top: 190px;}
	.iq-right {padding-top: 190px;}
	.iq-left .iq-rmt-60{margin-top: 60px;}
	.iq-right .iq-rmt-60{margin-top: 60px;}
	.iq-right .second-img{margin-bottom: 110px;}

	.iq-better .img-box img {width: auto;}
	.iq-mission {
    padding: 100px 0 230px;}
    .iq-better .mission-content {
    margin-top: -190px;}
    .iq-better .img-box {
    margin-top: 50px;}

    .scrolling-effect{top: 20%;}


	.team-box  .team-box-info{padding: 0 30px;}
}
@media(max-width:979px) {
	section { padding: 80px 0; }
	.overview-block-ptb { padding: 80px 0; }
    .overview-block-pt { padding: 80px 0 0 0; }
    .overview-block-pb { padding: 0 0 80px 0; }

    .about-team {padding-top: 150px;}

    .section-title { margin-bottom: 60px; }

    .iq-feature-box{padding: 80px;}

    .team-box  .team-box-info{padding: 0 30px;}

    .iq-left {padding-top: 190px;}
	.iq-right {padding-top: 190px;}
	.iq-left .iq-rmt-60{margin-top: 60px;}
	.iq-right .iq-rmt-60{margin-top: 60px;}

	.iq-breadcrumb {
    padding: 170px 0 110px 0;}

}
@media(max-width:767px) {
	 section { padding: 50px 0; }
	.overview-block-ptb { padding: 50px 0; }
    .overview-block-pt { padding: 50px 0 0 0; }
    .overview-block-pb { padding: 0 0 50px 0; }
    .section-title { margin-bottom: 50px; }

     
    .iq-feature-box{padding: 30px;}
     
	header .container-fluid { padding: 0 30px; }
	header.menu-sticky .main-header { padding: 10px 50px 10px 50px; }
	header .main-header { padding: 10px 50px 10px 50px; }

	.about-team {padding-top: 120px;}
	.about-team .above-img{width: 60%;}
	.about-team .below-img{margin-bottom: 50px; width: 70%;}


	.iq-services .Service-box .service-info{padding: 0 37px;}

	.team-box  .team-box-info{padding: 0 90px;}

	.iq-left {padding-top: 120px;}
	.iq-right {padding-top: 90px;}
	.iq-left .container{padding: 10px 30px;}
	.iq-right  .container{padding: 10px 30px;}

	.iq-left .back-img{width: 70%; margin-bottom: 70px;}
	.iq-left .front-img{width: 60%;}

	.iq-right .second-img {
    margin-bottom: 70px; width: 70%;}
    .iq-left .first-img{width: 60%}

    .iq-breadcrumb {
    padding: 160px 0 100px 0;}
    .iq-mission {padding: 100px 0 260px;}
    .iq-better .mission-content {
    margin-top: -240px;}

    .iq-better .img-box {margin-top: 40px;}
    .iq-better .mission-info {padding: 50px 40px;}
    .contact-info{padding-right: 60px;}

    .scrolling-effect.top {top: 40%;}


	footer.main-footer .copyright{display: grid; text-align: center; padding-bottom: 0; padding-top: 10px;}
	footer.main-footer .right-side{float: none; text-align: center;     padding-top: 10px;
    padding-bottom: 10px;}
}

@media(max-width:479px) {
	section { padding: 50px 0; }
	.overview-block-ptb { padding: 50px 0; }
    .overview-block-pt { padding: 50px 0 0 0; }
    .overview-block-pb { padding: 0 0 50px 0; }
    .section-title { margin-bottom: 30px; }

    .section-title .title {font-size: 26px;}

    body p{font-size: 14px; line-height: 1.8em;}


	header.menu-sticky .main-header { padding: 10px 15px 10px 15px; }
	header .main-header { padding: 10px 15px 10px 15px; }
	header .sub-main { padding-right: 0; }
	header .sub-header { padding: 10px 15px; }
	header .logo { width: 100px; }
	header .container-fluid, .index .container-fluid { padding: 0 15px; }

	.about-team {padding-top: 120px;}

	.team-box  .team-box-info{padding: 0 10px;}

	.iq-left {padding-top: 120px;}
	.iq-right {padding-top: 90px;}

	.iq-breadcrumb {
    padding: 140px 0 80px 0;}
    .iq-better .mission-info {
    padding: 40px 30px;}
    .contact-info{padding-right: 30px;}
      .iq-coming form .form-control{border-radius: 10px 10px 10px; margin-bottom: 20px;}
    .iq-coming form .button{border-radius: 10px 10px;}
    .iq-coming .big-text {
    font-size: 70px;}
    
    footer.main-footer .copyright{font-size: 12px;}
    footer.main-footer ul li a{font-size: 12px;}

}

