<div class="main-content">
  <!-- START REVOLUTION SLIDER -->
  <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="agriculture" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
<div id="rev_slider_1_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.2.6">
<ul>  <!-- SLIDE  -->
<li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/revslider/assets/100x50_7f601-bg1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
<!-- MAIN IMAGE -->
    <img src="assets/revslider/assets/7f601-bg1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
<!-- LAYERS -->

<!-- LAYER NR. 1 -->
<h1 class="tp-caption   tp-resizeme"
   id="slide-1-layer-1"
   data-x="30"
   data-y="center" data-voffset="-60"
        data-width="['auto']"
  data-height="['auto']"
  data-transform_idle="o:1;"

   data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeInOut;"
   data-transform_out="opacity:0;s:300;"
  data-start="600"
  data-splitin="none"
  data-splitout="none"
  data-responsive_offset="on"


  style="z-index: 5; white-space: nowrap; font-size: 54px; line-height: 66px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;"><b>THE MODERN AGRICULTURE
    <br> COMPANY</b> </h1>

<!-- LAYER NR. 2 -->
<p class="tp-caption   tp-resizeme"
   id="slide-1-layer-2"
   data-x="30"
   data-y="center" data-voffset="40"
        data-width="['auto']"
  data-height="['auto']"
  data-transform_idle="o:1;"

   data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeInOut;"
   data-transform_out="opacity:0;s:300;"
  data-start="900"
  data-splitin="none"
  data-splitout="none"
  data-responsive_offset="on"


  style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 30px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;">It is a long established fact that a reader will be distracted by the content of a page
</p>

<!-- LAYER NR. 3 -->
<div class="tp-caption text-center popup-youtube"
   id="slide-1-layer-4"
   data-x="30"
   data-y="center" data-voffset="140"
        data-width="['60']"
  data-height="['60']"
  data-transform_idle="o:1;"

   data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeInOut;"
   data-transform_out="opacity:0;s:300;"
  data-start="1200"
  data-splitin="none"
  data-splitout="none"
  data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"https:\/\/www.youtube.com\/watch?v=0O2aH4XLbto","delay":""}]'
  data-responsive_offset="on"
  data-responsive="off"

  style="z-index: 7; min-width: 60px; max-width: 60px; max-width: 60px; max-width: 60px; white-space: nowrap; font-size: 20px; line-height: 60px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Raleway;text-align:center;background-color:rgba(132, 187, 66, 1.00);border-color:rgba(255, 255, 255, 1.00);border-radius:50px 50px 50px 50px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
          <i class="ion-play"></i>
         </div>

<!-- LAYER NR. 4 -->
<div class="tp-caption   tp-resizeme"
   id="slide-1-layer-6"
   data-x="right" data-hoffset="-203"
   data-y="bottom" data-voffset=""
        data-width="['none','none','none','none']"
  data-height="['none','none','none','none']"
  data-transform_idle="o:1;"

   data-transform_in="x:-50px;opacity:0;s:1000;e:Power3.easeOut;"
   data-transform_out="opacity:0;s:300;"
  data-start="1800"
  data-responsive_offset="on"


  style="z-index: 8;"><img src="assets/revslider/assets/2c057-e3b67-tab.png" alt="" data-ww="599px" data-hh="528px" data-no-retina> </div>
</li>
<!-- SLIDE  -->
<li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="revslider/assets/100x50_4078c-bg.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
<!-- MAIN IMAGE -->
    <img src="assets/revslider/assets/4078c-bg.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
<!-- LAYERS -->

<!-- LAYER NR. 1 -->
<h1 class="tp-caption   tp-resizeme"
   id="slide-5-layer-1"
   data-x="30"
   data-y="center" data-voffset="-60"
        data-width="['auto']"
  data-height="['auto']"
  data-transform_idle="o:1;"

   data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeInOut;"
   data-transform_out="opacity:0;s:300;"
  data-start="600"
  data-splitin="none"
  data-splitout="none"
  data-responsive_offset="on"


  style="z-index: 5; white-space: nowrap; font-size: 54px; line-height: 66px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;">
  <b>THE  MODERN FARMING<br> COMPANY</b> </h1>

<!-- LAYER NR. 2 -->
<p class="tp-caption   tp-resizeme"
   id="slide-5-layer-2"
   data-x="30"
   data-y="center" data-voffset="40"
        data-width="['auto']"
  data-height="['auto']"
  data-transform_idle="o:1;"

   data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeInOut;"
   data-transform_out="opacity:0;s:300;"
  data-start="900"
  data-splitin="none"
  data-splitout="none"
  data-responsive_offset="on"


  style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 30px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Open Sans;">
  Our indoor farms create the ideal conditions for growing the purest produce <br>imaginable. </p>

<!-- LAYER NR. 3 -->
<div class="tp-caption  text-center   popup-youtube"
   id="slide-5-layer-4"
   data-x="30"
   data-y="center" data-voffset="140"
        data-width="['60']"
  data-height="['60']"
  data-transform_idle="o:1;"

   data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeInOut;"
   data-transform_out="opacity:0;s:300;"
  data-start="1200"
  data-splitin="none"
  data-splitout="none"
  data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"https:\/\/www.youtube.com\/watch?v=0O2aH4XLbto","delay":""}]'
  data-responsive_offset="on"
  data-responsive="off"

  style="z-index: 7; min-width: 60px; max-width: 60px; max-width: 60px; max-width: 60px; white-space: nowrap; font-size: 20px; line-height: 60px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Raleway;text-align:center;background-color:rgba(132, 187, 66, 1.00);border-color:rgba(255, 255, 255, 1.00);border-radius:50px 50px 50px 50px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
          <i class="ion-play"></i>
         </div>

<!-- LAYER NR. 4 -->
<div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
   id="slide-5-layer-5"
   data-x="right" data-hoffset="-224"
   data-y="bottom" data-voffset="-14"
        data-width="['none','none','none','none']"
  data-height="['none','none','none','none']"
  data-transform_idle="o:1;"

   data-transform_in="x:-50px;opacity:0;s:1000;e:Power3.easeInOut;"
   data-transform_out="opacity:0;s:300;"
  data-start="1800"
  data-responsive_offset="on"


  style="z-index: 8;">
<div class="rs-looped rs-slideloop"  data-easing="linearEaseNone" data-speed="2" data-xs="0" data-xe="0" data-ys="0" data-ye="10"><img src="revslider/assets/81019-tabbbbbb.png" alt="" data-ww="auto" data-hh="auto" data-no-retina> </div></div>
</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
</div><!-- END REVOLUTION SLIDER -->
      <!-- Story Start -->
      <section class="iq-story overview-block-pt main-bg">
        <div class="container">
          <div class="row mt-5 mt-md-0">
            <div class="col-lg-4 col-md-5">
              <div class="iq-asked-img position-relative text-center">
                <img class="img-fluid" src="assets/images/about/01.jpg" alt="#" >
              </div>
              <div class="play-video-two " >
                <a href="https://youtu.be/0O2aH4XLbto" class="iq-video-two popup-youtube"><i class="ion-play"></i></a>
                <div class="iq-waves">
                  <div class="waves wave-1"></div>
                  <div class="waves wave-2"></div>
                  <div class="waves wave-3"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-7 mt-5 mt-lg-0 mt-md-0">
              <div class="section-title text-left">
                <h3 class="title text-white">STORY OF VIZION</h3>
                <h3 class="text-white mb-2 font-weight-normal">FARM COMPANY</h3>
                <p class="mb-0 text-white"> Various versions have evolved over the years, sometimes by accident, sometimes on purpose evolved.
                </p>
              </div>
              <a class="button" href="#" >READ MORE</a>
            </div>
            <div class="col-lg-4 col-md-12 iq-rmt-50 iq-rmb-80">
              <p class="text-white">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the </p>
            </div>
          </div>
        </div>
        <div class="scrolling-effect top right default">
          <div data-bottom="transform:translatey(20px)" data-top="transform:translatey(0);"><img src="assets/images/effect/01.png" class="img-fluid" alt="#"></div>
        </div>
      </section>
      <!-- Story Start -->
      <!-- How it’s works Start -->
      <section class="iq-work-box overview-block-ptb">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-title text-center">
                <h3 class="title">How it’s works Vizion Farm</h3>
                <p class="mb-0">Fresh and healthy supplies directly from farmers
                </p>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="work-box">
                <div class="img-box">
                  <img src="assets/images/works/01.png" class="img-fluid rounded-circle" alt="#">
                </div>
                <div class="work-box-info">
                  <a href="#">
                    <h5 class="mt-4 mb-3">Sense</h5>
                  </a>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="work-box">
                <div class="img-box">
                  <img src="assets/images/works/02.png" class="img-fluid rounded-circle" alt="#">
                </div>
                <div class="work-box-info">
                  <a href="#">
                    <h5 class="mt-4 mb-3">Analyse</h5>
                  </a>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="work-box">
                <div class="img-box">
                  <img src="assets/images/works/03.png" class="img-fluid rounded-circle" alt="#">
                </div>
                <div class="work-box-info">
                  <a href="#">
                    <h5 class="mt-4 mb-3">Predict</h5>
                  </a>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- How it’s works Start -->
      <!-- feature-box Start -->
      <section class="iq-feature-box overview-block-ptb blue-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="section-title mb-0 text-left text-white">
                <h3 class="title text-white mb-4">Why Choose Us?</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="row mt-5">
                <div class="col-lg-6">
                  <div class="feature-box">
                    <div class="iq-icon">
                      <i class="fas fa-cog"></i>
                    </div>
                    <div class="iq-feature-info">
                      <h6 class="text-white mb-3">Excellent Service</h6>
                      <p class="mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                    </div>
                  </div>
                  <div class="feature-box">
                    <div class="iq-icon">
                      <i class="fas fa-leaf"></i>
                    </div>
                    <div class="iq-feature-info">
                      <h6 class="text-white mb-3">Quality And Reliability</h6>
                      <p class="mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 ">
                  <div class="feature-box">
                    <div class="iq-icon">
                      <i class="fab fa-pagelines"></i>
                    </div>
                    <div class="iq-feature-info">
                      <h6 class="text-white mb-3">Clean Working</h6>
                      <p class="mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                    </div>
                  </div>
                  <div class="feature-box">
                    <div class="iq-icon">
                      <i class="fab fa-envira"></i>
                    </div>
                    <div class="iq-feature-info">
                      <h6 class="text-white mb-3">Expert Farmer</h6>
                      <p class="mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                    </div>
                  </div>
                </div>
                <a class="button btn-bdr mt-3" href="#">READ MORE</a>
              </div>
            </div>
            <div class="col-lg-6 iq-rmt-100">
              <img class="img-fluid first-img wow fadeInUp" src="assets/images/feature/01.jpg" alt="images">
              <img class="img-fluid second-img wow fadeInUp" data-wow-duration="2s" src="assets/images/feature/02.jpg" alt="images">
            </div>
          </div>
        </div>
        <div class="scrolling-effect bottam right default">
          <div data-bottom="transform:translatey(30px)" data-top="transform:translatey(0);"><img src="assets/images/effect/02.png" class="img-fluid" alt="#"></div>
        </div>
      </section>
      <!-- feature-box End -->
      <!-- Client Testimonial start -->
      <section class="iq-testimonial overview-block-ptb">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="section-title text-center">
                <h3 class="title">People Says About Vzion</h3>
                <p class="mb-0"></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
                <div class="item">
                  <div class="iq-client">
                    <div class="client-img">
                      <img class="img-fluid rounded-circle" src="assets/images/testimonial/01.jpg" alt="#">
                      <h5 class="mb-5">Peter Nevil</h5>
                    </div>
                    <div class="client-info">
                      <div class="iq-icon">
                        <i class="fas fa-quote-left"></i>
                      </div>
                      <p class="font-italic">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. T he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="iq-client">
                    <div class="client-img">
                      <img class="img-fluid rounded-circle" src="assets/images/testimonial/01.jpg" alt="#">
                      <h5 class="mb-5">Peter Nevil</h5>
                    </div>
                    <div class="client-info">
                      <div class="iq-icon">
                        <i class="fas fa-quote-left"></i>
                      </div>
                      <p class="font-italic">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. T he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="iq-client">
                    <div class="client-img">
                      <img class="img-fluid rounded-circle" src="assets/images/testimonial/01.jpg" alt="#">
                      <h5 class="mb-5">Peter Nevil</h5>
                    </div>
                    <div class="client-info">
                      <div class="iq-icon">
                        <i class="fas fa-quote-left"></i>
                      </div>
                      <p class="font-italic">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. T he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="scrolling-effect top left default">
          <div data-bottom="transform:translatey(30px)" data-top="transform:translatey(0);"><img src="assets/images/effect/03.png" class="img-fluid" alt="#"></div>
        </div>
      </section>
      <!--Client Testimonial end -->
      <!-- Our Blog Start -->
      <section id="our-blog" class="blog overview-block-pb">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8">
              <div class="section-title text-center">
                <h2 class="title">Blog Posts</h2>
                <p class="mb-0">Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
                <div class="item">
                  <div class="iq-blog-box">
                    <div class="iq-blog-image clearfix">
                      <img src="assets/images/blog/01.jpg" class="img-fluid center-block" alt="#">
                    </div>
                    <div class="iq-blog-detail">
                      <div class="iq-blog-meta">
                        <ul>
                          <li class="list-inline-item">
                            <a href="#" class="text-gray" rel="bookmark">4 February, 2019</a>
                          </li>
                          <li class="list-inline-item name">
                            <a href="#" class="text-gray" rel="bookmark">By Ananda Verma</a>
                          </li>
                        </ul>
                      </div>
                      <div class="blog-title">
                        <a href="blog-details.html">
                          <h5>Tips for Ripening Fruit</h5>
                        </a>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                      <div class="btn-position">
                        <a class="button like-btn" href="#"><i class="far fa-heart mr-2"></i>Like</a>
                        <a class="button link-btn" href="blog-details.html">Read More<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="iq-blog-box">
                    <div class="iq-blog-image clearfix">
                      <img src="assets/images/blog/02.jpg" class="img-fluid center-block" alt="#">
                    </div>
                    <div class="iq-blog-detail">
                      <div class="iq-blog-meta">
                        <ul>
                          <li class="list-inline-item">
                            <a href="#" class="text-gray" rel="bookmark">25 March, 2019</a>
                          </li>
                          <li class="list-inline-item name">
                            <a href="#" class="text-gray" rel="bookmark">By Ananda Verma</a>
                          </li>
                        </ul>
                      </div>
                      <div class="blog-title">
                        <a href="blog-details.html">
                          <h5>Health Benefits Raw Food</h5>
                        </a>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                      <div class="btn-position">
                        <a class="button like-btn" href="#"><i class="far fa-heart mr-2"></i>Like</a>
                        <a class="button link-btn" href="blog-details.html">Read More<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="iq-blog-box">
                    <div class="iq-blog-image clearfix">
                      <img src="assets/images/blog/03.jpg" class="img-fluid center-block" alt="#">
                    </div>
                    <div class="iq-blog-detail">
                      <div class="iq-blog-meta">
                        <ul>
                          <li class="list-inline-item">
                            <a href="#" class="text-gray" rel="bookmark">19 April, 2018</a>
                          </li>
                          <li class="list-inline-item name">
                            <a href="#" class="text-gray" rel="bookmark">By Ananda Verma</a>
                          </li>
                        </ul>
                      </div>
                      <div class="blog-title">
                        <a href="blog-details.html">
                          <h5>Tips for Ripening Fruit</h5>
                        </a>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                      <div class="btn-position">
                        <a class="button like-btn" href="#"><i class="far fa-heart mr-2"></i>Like</a>
                        <a class="button link-btn" href="blog-details.html">Read More<i class="fas fa-long-arrow-alt-right ml-2"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Our Blog End -->
      <!-- Our Clients -->
      <div class="iq-clients light-green">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="false" data-items="5" data-items-laptop="4" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-margin="30">
                <div class="item">
                  <div class="clients-box text-center">
                    <img class="img-fluid client-img" src="assets/images/clients/01.png" alt="#">
                  </div>
                </div>
                <div class="item">
                  <div class="clients-box text-center">
                    <img class="img-fluid client-img" src="assets/images/clients/02.png" alt="#">
                  </div>
                </div>
                <div class="item">
                  <div class="clients-box text-center">
                    <img class="img-fluid client-img" src="assets/images/clients/03.png" alt="#">
                  </div>
                </div>
                <div class="item">
                  <div class="clients-box text-center">
                    <img class="img-fluid client-img" src="assets/images/clients/04.png" alt="#">
                  </div>
                </div>
                <div class="item">
                  <div class="clients-box text-center">
                    <img class="img-fluid client-img" src="assets/images/clients/05.png" alt="#">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Our Clients End-->
    </div>
