<div class="row">
  <div class="col-3"></div>
<div class="col-6">
  <h3 style="text-align: center;">Register</h3>
<form [formGroup]="registeruserForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" formControlName="firstname"  class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="first name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">last Name</label>
    <input type="text" formControlName="lastname" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="last name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
